html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
  position: relative;
  left: 400px;
}

.robot-body {
  width: 320px;
  position: relative;
  top: 40px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 125px;
  bottom: 220px;
}

.robot-head-right {
  position: relative;
  bottom: 188px;
  left: 150px;
}

.robot-head-left {
  width: 125px;
  position: relative;
  bottom: 188px;
  right: 96px;
}

.robot:hover .robot-head-right {
  bottom: 200px;
  left: 200px;
}

.robot:hover .robot-head-left {
  bottom: 200px;
  right: 120px;
}
